/**
 * "A really simple CSS grid boilerplate"
 * - Mechetle
 */

@use "sass:map";
@use "normalize";

$breakpoint: (
  small: 767px,
  medium: 1024px,
  large: 1280px,
);

$container-width: (
  //fluid: 1200px,
  fluid: 1600px,
  relaxed: 1200px,
  narrow: 960px
);
$gutter: 1.5em;
$gutterSmall: 2em;

$padding: 1.75em * 2;

.grid-container {
  width: 100%;
  margin: 0 auto;
  //height: 100%;

  &.fluid {
    max-width: map.get($container-width, "fluid");
  }
  &.relaxed {
    max-width: map.get($container-width, "relaxed");
  }
  &.narrow {
    max-width: map.get($container-width, "narrow");
  }
  &.full {
    max-width: 100%;
  }

  &.container-padding {
    padding: 0 $padding;
  }

  &.padding {
    .row {
      padding: 0 $padding;
    }
    .grid {
      padding: $padding;
    }

    @media screen and (max-width: map.get($breakpoint, "medium")) {
      .row,
      .grid {
        padding: 0 1.5em;
      }
    }
  }
}

img {
  max-width: 100%;
  height: auto;

  &.card {
    border-radius: 1.2em;
  }
}

.grid,
.row {
  display: grid;
  gap: $gutter;
  //height: 100%;

  &.row {
    grid-template-columns: repeat(12, 1fr);
  }

  @media (max-width: map.get($breakpoint, "small")) {
    gap: $gutterSmall;

    > .cell {
      grid-column: span 12;
    }
  }

  &.gutter-none {
    gap: 0;
  }
  &.gutter-inner {
    gap: 0;

    > .cell {
      padding: $gutter;
    }
  }

  > .cell {
    // Large
    @for $i from 1 through 12 {
      &.large- {
        &#{$i} {
          grid-column: span #{$i};
        }
      }
    }

    // xLarge
    @for $i from 1 through 12 {
      &.xlarge- {
        &#{$i} {
          @media screen and (min-width: map.get($breakpoint, "large")) {
            grid-column: span #{$i};
          }
        }
      }
    }

    // Medium
    @for $i from 1 through 12 {
      &.medium- {
        &#{$i} {
          @media screen and (max-width: map.get($breakpoint, "large")) {
            grid-column: span #{$i};
          }
        }
        &-only-#{$i} {
          @media screen and (min-width: map.get($breakpoint, "medium")) and (max-width: map.get($breakpoint, "large")) {
            grid-column: span #{$i};
          }
        }
      }
    }

    @media (max-width: map.get($breakpoint, "small")) {
      grid-column: span 12 !important;
    }

    // Small
    @for $i from 1 through 12 {
      &.small- {
        &#{$i} {
          @media screen and (max-width: map.get($breakpoint, "medium")) {
            grid-column: span #{$i};
          }
        }
      }
    }
  }
}
